html, body {
	min-height: 100%;
}
body {
	padding: 0 6.41%;	
	font-family: 'Work Sans', sans-serif;
	color: #464e90;
}
a {
	color: #464e90;
	text-decoration: none;
}

.underlined:after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	transform: scaleX(0);
	transform-origin: center center;
	transition: all .5s ease-in-out;
	background: #464e90;
} 
.underlined:hover:after {
	transform: scaleX(1);
} 

.container {
	max-width: 1170px;
	margin: auto;
	overflow: visible;
}

/* HEADER */

.header {
	margin-top: 60px;
}


/* 	HANBURGER MENU
	AND MOBILE FIRST */

#menu__toggle {
	opacity: 0;
}
.header__logo {
	position: absolute;
	top: 30px;
	right: 6.41%;
}
.menu__btn {
	display: flex; 
	align-items: center;  
	position: fixed;
	top: 25px;
	width: 26px;
	height: 26px;  
	cursor: pointer;
	z-index: 1000;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;  
	width: 100%;
	height: 2px;  
	background-color: #464e90;
	transition-duration: .25s;
}
.menu__btn > span::before {
	content: '';
	top: -8px;
}
.menu__btn > span::after {
	content: '';
	top: 8px;
}

.header__navbar-left ul {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;  
	width: 300px;
	height: 100%;  
	margin: 0;
	padding: 80px 0;  
	list-style: none;
	text-align: left;  
	background-color: #ECEFF1;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	transition-duration: .25s;
	z-index: 100;
}
.header__navbar-item {
	display: block;
	padding: 12px 24px;  
	font-size: 20px;
	font-weight: 600;  
	text-decoration: none;
	transition-duration: .25s;
	z-index: 100;
} 
.header__navbar-item:hover {
	background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ ul {
  visibility: visible;
  left: 0;
}

.header__navbar-rigth {
	margin-bottom: 40px;
}

.header__illustration {
	display: none;
}

.portfolio {
	margin-top: 100px;
}

/* NAVBAR RIGHT */

.header__navbar-rigth {
	font-weight: 600;
	white-space: nowrap;
}
.header__navbar-rigth .contact-us,
.header__navbar-rigth .language-change {
	display: inline-block;
	cursor: pointer;
}
.header__navbar-rigth .language-change__arrow {
	width: 0;
  	height: 0;
  	border: 6px solid transparent;
    border-top-color: #464e90;
  	border-bottom: 0;
  	display: inline-block;
  	margin-right: 48px;
}
.header__navbar-rigth .contact-us {
	border: none;
	border-radius: 5px;
	width: 200px;
	height: 60px;
	background: #fff;
	box-shadow: -1px 2px 5px 1px rgba(25,45,51,.1);
	font-weight: 600;
	color: #ff4359;
}
.contact-us_arrow {
	position: relative;
	right: -5px;
	top: 2px;
	font-size: 28px;
} 

.language-change {
	position: relative;
}

#language-change__notInUse {
	display: block;
	position: absolute;
	top: 20px;
	left: 0;
	transition: all .4s linear;
	transform-origin: top center;
}

.hideScale {
	transform: scaleY(0);
}
.showScale {
	transform: scaleY(1);
}

/* TITLE AND SLICK SLIDER */

.header__block-container {
 	display: flex;
	justify-content: space-between; 
	align-items: center;
}
.header__title {
	display: block;
	box-sizing: border-box;
}
.header__title h1 {
	font-size: 3em;
	margin: 0;
}
.header__title p {
	margin: 46px 0;
	padding: 0;
	color: #888491;
	font-weight: 400;
	line-height: 1.3em;
}


/* BUTTONS */

.header__title-buttons {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.header__title-buttons .moreAbout{
	display: block;
	width: 198px;
	height: 54px;
	border: 2px solid #ff4359;
	border-radius: 25px;
	margin-right: 39px;
	color: #fff;
	background: #ff4359;
	cursor: pointer;
	box-shadow: 0 0 15px 2px rgba(228,88,115,.3)
}
.header__title-buttons .moreAbout:hover {
	background: #fff;
	color: #ff4359;
}
.header__title-buttons .getInTouch {
	font-weight: 600;
	display: block;
	text-align: center;
}

/* PORTFOLIO */

.portfolio h2 {
	font-size: 2em;
	margin-top: 0;
	margin-bottom: 89px;
}
.portfolio a {
	display: block;
	margin: auto;
	margin-top: 20px;
	width: 200px;
	text-align: center;
	color: #ff4359;
}
.portfolio__galery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; 
}
.portfolio__galery-item {
	width: 370px;
	height: 280px;
	margin-bottom: 30px;
	background: #c9cbdc;
}

.contacts {
	margin-top: 300px;
}




@media screen and (min-width: 768px) {
	#menu__toggle, .menu__btn {
		display: none;
	}

	.header__nav {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin-bottom: 100px;
		width: 100%;
	}
	@media screen and (max-width: 1640px) {
		.header__nav {
			width: calc(100% - 115px);
			margin-left: 46px;
		}
	}
	.header__logo {
		position: static;
		float: left;
		padding: 15px 46px 0 0; 
	} 

	/* NAVBAR LEFT */
	.header__navbar-left ul {
		display: block;
		position: static;
		visibility: visible;
		padding: 0; 
		margin: 0;  
		background: transparent;
		box-shadow: none;
		width: auto;
		height: auto;
	}
	.header__navbar-left .header__navbar-item {
		display: inline-block;
		list-style: none;
		padding-right: 46px;
		padding-bottom: 6px;
		font-weight: 600;
		cursor: pointer;
	} 

	.header__illustration {
		display: block;
		width: calc(100% / 2 + 60px);
		max-width: 632px; 
		overflow: visible;
	}
	.header__illustration img {
		width: 100%
	} 
	.header__title {
		padding-right: 150px;
	}

	.portfolio {
		margin-top: 180px;
	} 
}